
/* *********For whole body******* */
body{
    background-image: url(Background-promises.jpg);
    background-size: cover;
}
.fulldiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 
/* *******Styles For Button ************ */
.click-btn{
    margin-top: 150px;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    border: 1px solid black;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;            
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.click-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* ********Styles for Revealed Content********* */
.content-div{
    display: none;
    background-color: rgb(176, 194, 204);
    padding: 3%;
    margin: 2%;
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid rgb(32, 44, 179);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 